{% extends "base.html" %}
{% block title %}Message Page{% endblock title %}
<script type="text/javascript">
    var base_url = config.BASE_URL;
    var serchParams = new URLSearchParams(window.location.search);
    var userId = serchParams.get("userId");
    var status = get_status(userId);
    console.log(status);

    if (status != "unSend") {
        $("#message-form").replaceWith("<p>已傳送留言囉！</p>");
        window.setTimeout(close_Webview, 3000);
    };
</script>
{% block message %}
<br>
<form class="form" method="POST" id="message-form" role="form" novalidate autocomplete="off">
    <div class="form-group">
        <label>想對對面的鹹魚說什麼嗎？</label>
        <textarea class="form-control" id="lastWord" name="lastWord" required></textarea>
    </div>

    <button class="btn btn-primary btn-block btn-lg" id="message-submit" type="submit" name="submit">Submit</button>
</form>

{% endblock message %}