{% extends "base.html" %} {% block leave %}
<br>
<form class="form" method="POST" id="last-form" role="form" novalidate autocomplete="off">
    <div class="form-group">
        <label>想對對面的鹹魚說什麼嗎？</label>
        <textarea class="form-control" id="lastWord" name="lastWord" required></textarea>
    </div>

    <button class="btn btn-primary btn-block btn-lg" id="last-submit" type="submit" name="submit">Submit</button>
</form>

<script type="text/javascript">
    var status = "{{status}}";

    window.extAsyncInit = function () {
        MessengerExtensions.getContext(
            app_id,
            function success(uids) {
                var psid = uids.psid;
                if (status == "playerA_hasSend") {
                    alert("您已完成留言。");
                    MessengerExtensions.requestCloseBrowser(
                        function success() {
                        }, function error(err) {
                            console.log(err);
                        });

                }
                if (status == "playerB_hasSend") {
                    alert("您已完成留言。")
                    MessengerExtensions.requestCloseBrowser(
                        function success() { },
                        function error(err) {
                            console.log(err);
                        });
                }

            },
            function error(err, errorMessage) {
                alert(JSON.stringify(errorMessage));
            }
        )
    }
</script>
{% endblock leave %}