{% extends "base.html" %}
{% block title %} {{message.header}} {% endblock title %}

{% block message_script %}
<script type="text/javascript">
    var base_url = config.BASE_URL;
    var serchParams = new URLSearchParams(window.location.search);
    var userId = serchParams.get("userId");
    var pairId = serchParams.get("pairId");
    var status = get_status(userId).status;

    message_status(pairId);
</script>
{% endblock message_script %}

{% block message %}
<br>
<form class="form" method="POST" id="message-form" role="form" novalidate autocomplete="off" style="display: none;">
    <div class="form-group">
        <label>{{message.title}}</label>
        <textarea class="form-control" id="lastWord" name="lastWord" required></textarea>
    </div>

    <button class="btn btn-primary btn-block btn-lg" id="message-submit" type="submit"
        name="submit">{{message.button}}</button>
</form>

<p id="sended" style="display: none;">已經留過言囉！</p>
<p id="leave-pair" style="display: none;">您已經離開交誼廳囉！</p>
{% endblock message %}