{% extends "base.html" %}
{% block title %}Pair Page{% endblock title %}

{% block pair_script %}
<script>
    window.extAsyncInit = function () {
        MessengerExtensions.getContext(
            app_id,
            function success(uids) {
                var userId = uids.psid;
                $.get(
                    base_url + "/api/user/status/" + userId,
                    function (data, status) {
                        if (status == "success") {
                            var payload = data.payload
                            if (payload.status == "paired" || payload.status == "pairing") {
                                console.log(payload.status)
                                close_Webview();
                            }
                        } else {
                            console.log(err)
                        }
                    })

            },
            function error(err, errorMessage) {
                console.log(JSON.stringify(errorMessage));
            }
        )
    }
</script>
{% endblock pair_script %}

{% block pair %}
<br>
<form class="form" method="POST" id="pair-form" role="form" novalidate autocomplete="off">
    <div class="form-group">
        <label id="place_label">{{pair.title}}</label>
        <div class="input-group mb-2">
            <input class="form-control" id="placeId" type="text" name="placeId" maxlength="4" required>
        </div>

        <button class="btn btn-primary btn-block btn-lg" id="pair-submit" type="submit" name="submit"
            disabled>{{pair.button}}</button>
</form>
{% endblock pair %}