{% extends "base.html" %}
{% block title %}Intro Page{% endblock title %}
{% block intro %}
<br>
<form class="form" method="POST" id="intro-form" role="form" novalidate autocomplete="off">
    <div class="form-group">
        <label id="place_label">請輸入地標編號</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">{{place_id_title}}</div>
            </div>
            <input class="form-control" id="placeId" type="text" name="placeId" maxlength="4" required>
        </div>

        <button class="btn btn-primary btn-block btn-lg" id="intro-submit" type="submit" name="submit"
            disabled>開始找人聊天</button>
</form>

<script type="text/javascript">
    var app_id = "{{app_id}}";
    var base_url = "{{base_url}}";
    window.extAsyncInit = function () {
        MessengerExtensions.getContext(
            app_id,
            function success(uids) {
                var psid = uids.psid;
                $.ajax({
                    type: "GET",
                    url: base_url + "/api/user/status/" + psid,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        var payload = data.payload
                        console.log(payload)
                        if (payload.status == "paired") {
                            close_Webview();
                        }
                        if (payload.status == "pairing") {
                            window.location.href = base_url + "/wait/" + psid;
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })

            },
            function error(err, errorMessage) {
                alert(JSON.stringify(errorMessage));
            }
        )
    }
</script>
{% endblock intro %}