{% extends "base.html" %}
{% block title %}Intro Page{% endblock title %}
{% block intro %}
<br>
<form class="form" method="POST" id="intro-form" role="form" novalidate autocomplete="off">
    <div class="form-group">
        <label id="place_label">請輸入地標編號</label>
        <div class="input-group mb-2">
            <input class="form-control" id="placeId" type="text" name="placeId" maxlength="4" required>
        </div>

        <button class="btn btn-primary btn-block btn-lg" id="intro-submit" type="submit" name="submit"
            disabled>開始找人聊天</button>
</form>
<script>

    window.extAsyncInit = function () {
        MessengerExtensions.getContext(
            app_id,
            function success(uids) {
                var psid = uids.psid;
                $.get(
                    base_url + "/api/user/status/" + psid,
                    function (data, status) {
                        if (status == "success") {
                            var payload = data.payload
                            console.log(payload.status)
                            if (payload.status == "paired") {
                                close_Webview();
                            }
                            if (payload.status == "pairing") {
                                window.location.href = "https://storage.googleapis.com/here_dating/build/wait.html?userId=" + psid;
                            }
                        } else {
                            console.log(err)
                        }
                    })

            },
            function error(err, errorMessage) {
                alert(JSON.stringify(errorMessage));
            }
        )
    }
</script>
{% endblock intro %}