{% extends "base.html" %}
{% block title %}Wait Page{% endblock title %}
{% block wait %}
<img src="https://storage.googleapis.com/here_dating/image/loading.gif" style="box-sizing: None; width: 100%;">
<div class="col-md-6 col-sm-12">
    <button class="btn btn-primary btn-block btn-lg" type="submit" id="leave_waiting">我要離開</button>
</div>
<script type="text/javascript">
    var serchParams = new URLSearchParams(window.location.search)
    var userId = serchParams.get("userId")
    setInterval(function () { get_status(userId) }, 1000);
</script>
{% endblock wait %}