{% extends "base.html" %}
{% block title %}Wait Page{% endblock title %}
{% block wait %}
<p id="waiting_text">已進入等待室，系統正在為您找人聊天中，請稍候．．．．．．</p>
<button class="btn btn-primary btn-block btn-lg" type="submit" id="leave_waiting" disabled>我要離開</button>
<script>
</script>
<script type="text/javascript">

    window.extAsyncInit = function () {
        MessengerExtensions.getContext(
            app_id,
            function success(uids) {
                var psid = uids.psid;
                setInterval(get_status, 1000, psid);
            },
            function error(err, errorMessage) {
                alert(JSON.stringify(errorMessage));
            }
        )
    }
</script>
{% endblock wait %}