{% extends "base.html" %}
{% block title %}Wait Page{% endblock title %}
{% block wait %}
<img src="https://storage.googleapis.com/here_dating/loading.gif" style="box-sizing: None; width: 100%;">
<div class="col-md-6 col-sm-12">
    <button class="btn btn-primary btn-block btn-lg" type="submit" id="leave_waiting">{{cancel_words}}</button>
</div>
<script type="text/javascript" src="{{base_url}}/static/js/extension.js?v={{version}}"></script>
<script type="text/javascript">
    var userId = "{{userId}}"
    setInterval(function () { get_status(userId) }, 1000);
</script>
{% endblock wait %}